*.pbo
.hemttout
hemtt
hemtt.exe
*.biprivatekey
release/*
releases/*
*.zip
*.7z
.vs/*
.vscode/*
*.cache
texHeaders.bin
*.sqfc
*.swp
*.swo
*.biprivatekey
Thumbs.db
*.log
*~
*#
@*
ArmaScriptCompiler.exe
sqfvm.exe
*.bat